<!DOCTYPE html>
<html>
  <head>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/js/jquery.tablesorter.min.js"></script>

    <%# <title>App</title> %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
    <title>
      <% if @title == nil %>
        出席管理アプリ
      <% else %>
        <%= "出席管理アプリ｜#{@title}" %>
      <% end %>
    </title>

  </head>

  <body class="p-3 mb-2 text-dark">
    <header>
      <h1 class="logo">
        <a href="/">
          出席管理アプリ
        </a>
      </h1>
      <h1 class="sub-title"><%= @title %></h1>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
